@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body{
	background-color: rgb(69,67,67);
	color: rgb(255,255,255);
	text-align:center;
}
h1{
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

#slogan{
	font-family: 'Roboto Slab', serif;
	width: 750px;
	margin: auto;
}	

img{ 
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 750px
}

h2{
	font-size: 20px;
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	display: inline;
}
.contactinfo{
	font-size: 15px;
	border: 1px solid #fff;
	width: 750px;
	margin: auto;
}
ul{
	font-family: 'Roboto Slab', serif;
	text-align: left;
	font-size: 0.75em;
	width: 750px;
	margin: auto;
	border-bottom: 1px solid #fff;
}